

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /*justify-content: center;*/
    gap: 20px;
    border: 5px solid black;
    border-radius: 5px;
    width: 70vw;
    margin: 10px;
    font-weight: bold;
    background-color: #E8EAE6;
    border: 1px solid #C4A484; 
}

.tablalp{
    background-color: #FFF4E6;
    color: red;
}