:root {
    --verde-pastel: #A8D5BA;
    --crema-suave: #FFF4E6;
    --rosa-palido: #F8D7DA;
    --azul-polvo: #A4C5C6;
    --gris-claro: #E8EAE6;
    --marron-tierra: #C4A484;
  }


.navItems {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;
    padding: 20px;
    background-color: transparent;
  
}
.navItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    background-color: var(--azul-polvo);
    color: var(--marron-tierra);
    border-radius: 5px;
    font-weight: bold; /* Negrita para destacar el texto */
    /*font-size: 1.1rem;  Tamaño de fuente */
    
  
}

.logo{
   width: 200px;
      top: 20px;
    left: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}



.titulonav{
    display: flex;
    color: var(--marron-tierra);
}
.active{
    background-color: var(--rosa-palido);
 }

.button {
    background-color: var(--azul-polvo);
    color: var(--marron-tierra);
  }
  
  .button:hover {
    background-color: var(--rosa-palido);
  }